.step-progress {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 20px 0;
}

.step-progress::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #d8a4a4;
    z-index: 0;
    transform: translateY(-50%);
}

.step {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #d8a4a4;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step.done {
    background-color: #a50000;
}
