.bg-body-tertiary {
    background-color: #A50000 !important;
}
@media(max-width:999px) {
    .sidebar{
        background-color: rgba(255, 255, 255, .15p);
        backdrop-filter: blur(10px);
    }
}
